<div class="d-flex flex-column justify-content-center container">
  <div class="p-4 text-center">
    <h5>Faça seu cadastro!</h5>
  </div>

  <div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 formulario">
      <form>
        <div class="form-group p-2">
          <label for="name">Nome</label>
          <input type="text" id="name" name="name" [(ngModel)]="name" class="form-control" placeholder="Digite seu nome">
        </div>
        <div class="form-group p-2">
          <label for="email">E-mail</label>
          <input type="text" id="email" name="email" [(ngModel)]="email" class="form-control" placeholder="Digite seu email">
        </div>
        <div class="form-group p-2">
          <label for="password">Senha</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Digite sua senha">
        </div>
        <div class="form-group d-flex justify-content-between p-2">
          <button class="btn btn-success  align-self-center" type="submit" (click)="cadastro()">Cadastrar</button>
          <p class="pt-3"><a href="/login">Login</a></p>
      </div>
      </form>
    </div>
  </div>
</div>