<div class="menu-lateral">
    <app-menu-lateral></app-menu-lateral>
</div>

<div class="tela">
    <h1>Perfil</h1>
    <div class="row">
      <div class="d-flex col-12">
        <div class="col-1 d-flex flex-column">
          <label for="id">Id:</label>
          <input type="number" [(ngModel)]="selectedId" class="border-1 border-black inputs" disabled>
        </div>
        <div class="col-2 d-flex flex-column ms-4"> 
          <label for="nome">Nome:</label>
          <input type="text" [(ngModel)]="selectedNome" class="border-1 border-black inputs">
        </div>
        <div class="col-3 d-flex flex-column ms-4"> 
          <label for="nome">Email:</label>
          <input type="text" [(ngModel)]="selectedEmail" class="border-1 border-black inputs">
        </div>

      </div>
      <div class="d-flex col-12 mt-3">
        <div class="col-2 d-flex flex-column"> 
            <label for="nome">Nova Senha:</label>
            <input type="text" [(ngModel)]="selectedSenha" class="border-1 border-black inputs">
          </div>
        <div class="col-2 d-flex flex-column ms-4"> 
          <label for="nome">Data Cadastro</label>
          <input type="date" [(ngModel)]="selectedDataCad" class="border-1 border-black inputs" disabled>
          <span *ngIf="selectedDataCad" class="d-none">
            {{ selectedDataCad | dateFormatter }}
          </span>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
    </div>
</div>