<div class="menu">
  <div class="topo">
    <h4>Seja bem-vindo</h4>
    <h5>{{nome}}!</h5>
    <!-- Aqui você pode adicionar o ícone de notificação -->
  </div>

  <div class="central">
    <a routerLink="/home">Home</a>
    <a routerLink="/perfil">Perfil</a>
    <a routerLink="/tarefas">Tarefas</a>
    <a routerLink="/disciplina">Disciplina</a>
    <a routerLink="/categorias">Categorias</a>
  </div>

  <div class="sair">
    <button class="btn btn-success  align-self-center" type="submit" (click)="logout()"><a>Sair</a></button>
    
  </div>
</div>
  