<div class="d-flex justify-content-center align-items-center">
    <div class="card p-3">
        <form>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" id="nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">E-mail</label>
                <input type="text" id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="senha">Senha</label>
                <input type="password" id="senha" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
  </div>