<div class="d-flex flex-column justify-content-center container">
  <div class="p-4 text-center">
    <h5>Olá, para acessar faça login!</h5>
  </div>
  
  <div class="d-flex justify-content-center align-items-center">
    <div class="card p-3 border-dark-subtle formulario">
      <form>
        <div class="form-group p-2">
            <label for="email">E-mail</label>
            <input type="text" id="email" class="form-control">
        </div>
        <div class="form-group p-2">
            <label for="senha">Senha</label>
            <input type="password" id="senha" class="form-control">
        </div>
        <div class="form-group d-flex justify-content-between p-2">
            <button class="btn btn-success  align-self-center" type="submit">Entrar</button>
            <p class="pt-3"><a href="/cadastro">Cadastrar</a></p>
        </div>
      </form>
    </div>
  </div>
</div>