<div class="menu-lateral">
    <app-menu-lateral></app-menu-lateral>
</div>
<div class="tela">
    <h1>Tarefas</h1>
    <div class="mt-5 mb-3">
      <a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="datagrid">
        <div class="datagrid">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Disciplina</th>
                    <th scope="col">Professor</th>
                    <th scope="col">Categorias</th>
                    <th scope="col">Data de Entrega</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Tarefa 1</td>
                    <td>Banco de dados</td>
                    <td>Rogerio</td>
                    <td>Importante</td>
                    <td>01/06/2024</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tarefa 2</td>
                    <td>Pesquisa e Ordenação</td>
                    <td>Daniela</td>
                    <td>Muito Importante</td>
                    <td>10/06/2024</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Tarefa 3</td>
                    <td>Programação Orientada a Objeto</td>
                    <td>Eduardo</td>
                    <td>Pouco Importante</td>
                    <td>12/06/2024</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
