<div class="menu-lateral">
    <app-menu-lateral></app-menu-lateral>
</div>
<div class="tela">
    <h1>Categorias</h1>
    <div class="mt-5 mb-3">
      <a href="#" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i></a>
    </div>
    <div class="datagrid">
        <div class="datagrid">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr>
                    <th scope="row">1</th>
                    <td>Muito Importante</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Importante</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>Pouco Importante</td>
                    <td>
                      <a href="#" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                      <a href="#" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                  </tr>
                  <!-- Adicione mais linhas conforme necessário -->
                </tbody>
              </table>
        </div>
    </div>
</div>
