a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    color: green;
}

.content {
    display: flex;
}

app-menu-lateral {
    flex: 1; /* Isso fará com que o menu lateral ocupe 1/3 do espaço disponível */
}
  
.perfil {
    flex: 2; /* Isso fará com que o perfil ocupe 2/3 do espaço disponível */
}