a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    color: green;
}

.menu-lateral {
    width: 200px; 
    height: 100vh; 
    float: left; 
}

.tela {
    width: calc(97% - 200px); 
    height: 100vh; 
    float: right; 
}

.btn-alert {
    background-color: orange;
}

.btn-alert:hover {
    background-color: #c7ac7b;
}

.toast-container {
    z-index: 1500 !important;
}

.toast-top-right {
    top: 12px;
    right: 12px;
    bottom: auto;
    left: auto;
}

:root {
    --fc-border-color: black;
    --fc-daygrid-event-dot-width: 5px;
}

.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
}

.fc .fc-view-harness {
    flex-grow: 1;
    position: relative;
    height: 760px !important;
}

.inputs {
    border-radius: 0.35rem;
}