a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

a:hover {
    color: green;
}

/* CSS para o menu lateral */
.menu-lateral {
    width: 200px; /* Defina a largura que você deseja para o menu lateral */
    height: 100vh; /* Isso fará com que o menu lateral ocupe toda a altura da tela */
    float: left; /* Isso fará com que o menu lateral flutue à esquerda */
}

/* CSS para as telas de perfil e home */
.tela {
    width: calc(97% - 200px); /* Isso fará com que a tela ocupe o restante da largura da tela, subtraindo a largura do menu lateral */
    height: 100vh; /* Isso fará com que a tela ocupe toda a altura da tela */
    float: right; /* Isso fará com que a tela flutue à direita */
}

.btn-alert {
    background-color: orange;
}

.btn-alert:hover {
    background-color: #c7ac7b;
}

.toast-container {
    z-index: 1500 !important;
}

.toast-top-right {
    top: 12px;
    right: 12px;
    bottom: auto;
    left: auto;
  }