<div class="menu-lateral">
    <app-menu-lateral></app-menu-lateral>
</div>
<div class="tela" *ngIf="contentView == 1">
    <h1>Disciplinas</h1>
    <div class="mt-5 mb-3">
      <button type="button" class="btn btn-primary" (click)="adicionar()"><i class="fa fa-plus" aria-hidden="true"></i></button>
    </div>
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Professor</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr *ngFor="let disciplina of disciplinas; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ disciplina.ID }}</td>
            <td>{{ disciplina.NOME }}</td>
            <td>{{ disciplina.PROF }}</td>
            <td>
              <button type="button" class="btn btn-primary" (click)="visualizar(disciplina)"><i class="fa fa-eye" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-success" (click)="editar(disciplina)"><i class="fa fa-pencil" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger" (click)="deletar(disciplina)"><i class="fa fa-trash" aria-hidden="true"></i></button>
            </td>
          </tr>
          <div *ngIf="disciplinas.length == 0" class="text-center"><p>Nenhum dado encontrado</p></div>
        </tbody>
      </table>
    </div>
</div>

<div class="tela" *ngIf="contentView == 2">
  <h1>Editar Disciplina</h1>
  <div class="d-flex">
    <div class="col-1 d-flex flex-column">
      <label for="id">Id:</label>
      <input type="number" [(ngModel)]="selectedId" class="border-1 border-black inputs" disabled>
    </div>
    <div class="col-3 d-flex flex-column ms-4"> 
      <label for="nome">Nome:</label>
      <input type="text" [(ngModel)]="selectedNome" class="border-1 border-black inputs">
    </div>
    <div class="col-3 d-flex flex-column ms-4"> 
      <label for="nome">Professor:</label>
      <input type="text" [(ngModel)]="selectedProf" class="border-1 border-black inputs">
    </div>
  </div>
  <div class="mt-4">
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
    <button type="button" class="btn btn-alert ms-2" (click)="sair()">Voltar</button>
  </div>
</div>

<div class="tela" *ngIf="contentView == 3">
  <h1>Adicionar Disciplina</h1>
  <div class="d-flex">
    <div class="col-3 d-flex flex-column"> 
      <label for="nome">Nome:</label>
      <input type="text" [(ngModel)]="selectedNome" class="border-1 border-black inputs">
    </div>
    <div class="col-3 d-flex flex-column ms-4"> 
      <label for="nome">Professor:</label>
      <input type="text" [(ngModel)]="selectedProf" class="border-1 border-black inputs">
    </div>
  </div>
  <div class="mt-4">
    <button type="button" class="btn btn-success" (click)="salvar()">Salvar</button>
    <button type="button" class="btn btn-danger ms-2" (click)="sair()">Cancelar</button>
  </div>
</div>

<div class="tela" *ngIf="contentView == 4">
  <h1>Visualizar Disciplina</h1>
  <div class="d-flex">
    <div class="col-1 d-flex flex-column">
      <label for="id">Id:</label>
      <input type="number" [(ngModel)]="selectedId" class="border-1 border-black inputs" disabled>
    </div>
    <div class="col-3 d-flex flex-column ms-4"> 
      <label for="nome">Nome:</label>
      <input type="text" [(ngModel)]="selectedNome" class="border-1 border-black inputs" disabled>
    </div>
    <div class="col-3 d-flex flex-column ms-4"> 
      <label for="nome">Professor:</label>
      <input type="text" [(ngModel)]="selectedProf" class="border-1 border-black inputs" disabled>
    </div>
  </div>
  <div class="mt-4">
    <button type="button" class="btn btn-alert" (click)="sair()">Voltar</button>
  </div>
</div>